Repository pingcap/tidb-operator, pull requests merged in 2019-11, with the labels that each got.

#1096 Disable verbose logging and coverage by default and enable -race in CI
  .github/workflows/ci.yaml
  Makefile
Labels: test/ci

#1088 unify all S3 compliant storage to support backup and restore
  cmd/backup-manager/app/backup/backup.go
  cmd/backup-manager/app/restore/restore.go
  images/backup-manager/entrypoint.sh
  manifests/backup/backup-schedule.yaml
  manifests/backup/backup.yaml
  manifests/crd.yaml
  pkg/apis/pingcap/v1alpha1/openapi_generated.go
  pkg/apis/pingcap/v1alpha1/types.go
  pkg/apis/pingcap/v1alpha1/zz_generated.deepcopy.go
  pkg/backup/util/util.go
  pkg/controller/backup/backup_controller_test.go
  pkg/controller/backupschedule/backup_schedule_controller_test.go
Labels: area/backup, cloud/aws, status/PTAL

#1037 Add switch to reclaim pv when scale in tikv or pd
  .gitignore
  charts/tidb-cluster/templates/tidb-cluster.yaml
  charts/tidb-cluster/values.yaml
  manifests/crd.yaml
  pkg/apis/pingcap/v1alpha1/openapi_generated.go
  pkg/apis/pingcap/v1alpha1/types.go
  pkg/controller/pv_control.go
  pkg/controller/tidbcluster/tidb_cluster_controller.go
  pkg/manager/member/pvc_cleaner.go
  pkg/manager/member/pvc_cleaner_test.go
  pkg/manager/meta/reclaim_policy_manager.go
  pkg/manager/meta/reclaim_policy_manager_test.go
  tests/actions.go
  tests/cmd/e2e/main.go
Labels: enhancement, status/LGTM1

#1070 Format and validate Terraform script
  .github/workflows/ci.yaml
  Makefile
  ci/pingcap_tidb_operator_build_dind.groovy
  deploy/aliyun/main.tf
  deploy/aliyun/variables.tf
  deploy/aliyun/versions.tf
  deploy/aws/clusters.tf
  deploy/aws/main.tf
  deploy/aws/versions.tf
  deploy/gcp/versions.tf
  deploy/modules/aliyun/bastion/variables.tf
  deploy/modules/aliyun/tidb-cluster/variables.tf
  deploy/modules/aliyun/tidb-cluster/workers.tf
  deploy/modules/aliyun/tidb-operator/main.tf
  deploy/modules/aliyun/tidb-operator/operator.tf
  deploy/modules/aliyun/tidb-operator/variables.tf
  deploy/modules/aws/bastion/bastion.tf
  deploy/modules/aws/bastion/variables.tf
  deploy/modules/aws/key-pair/main.tf
  deploy/modules/aws/key-pair/variables.tf
  deploy/modules/aws/tidb-cluster/cluster.tf
  deploy/modules/aws/tidb-cluster/local.tf
  deploy/modules/aws/tidb-cluster/variables.tf
  deploy/modules/aws/tidb-cluster/workers.tf
  deploy/modules/aws/tidb-operator/main.tf
  deploy/modules/aws/tidb-operator/variables.tf
  deploy/modules/aws/vpc/main.tf
  deploy/modules/aws/vpc/variables.tf
  deploy/modules/gcp/tidb-cluster/data.tf
  deploy/modules/share/tidb-cluster-release/main.tf
  hack/check-terraform.sh
Labels: area/terraform, test/ci

#1101 Add admission to delete PD Pod handler for webhook
  cmd/admission-controller/main.go
  manifests/webhook.yaml
  pkg/controller/pvc_control.go
  pkg/label/label.go
  pkg/manager/member/pd_member_manager.go
  pkg/manager/member/pd_upgrader.go
  pkg/manager/member/pd_upgrader_test.go
  pkg/manager/member/utils.go
  pkg/util/util.go
  pkg/webhook/pod/pd_deleter.go
  pkg/webhook/pod/pd_deleter_test.go
  pkg/webhook/pod/pods.go
  pkg/webhook/pod/pods_test.go
  pkg/webhook/pod/util.go
  pkg/webhook/route.go
  pkg/webhook/webhook.go
Labels: enhancement, status/PTAL

#1107 set net.ipv4.tcp_keepalive_time and net.core.somaxconn for tidb and tikv in init container
  charts/tidb-cluster/values.yaml
  deploy/modules/aliyun/tidb-cluster/values/default.yaml
  deploy/modules/gcp/tidb-cluster/values/default.yaml
  pkg/controller/controller_utils.go
  pkg/label/label.go
  pkg/manager/member/tidb_member_manager.go
  pkg/manager/member/tidb_member_manager_test.go
  pkg/manager/member/tikv_member_manager.go
  pkg/manager/member/tikv_member_manager_test.go
Labels: area/controller, area/terraform

#1046 export varibles replicas to values.yaml
  charts/tidb-cluster/templates/tikv-importer-statefulset.yaml
  tests/actions.go
Labels: status/LGTM1

#1122 charts: add timezone support
  charts/tidb-backup/templates/backup-job.yaml
  charts/tidb-backup/templates/restore-job.yaml
  charts/tidb-backup/values.yaml
  charts/tidb-cluster/templates/discovery-deployment.yaml
  charts/tidb-cluster/templates/drainer-statefulset.yaml
  charts/tidb-cluster/templates/monitor-deployment.yaml
  charts/tidb-cluster/templates/pump-statefulset.yaml
  charts/tidb-cluster/templates/scheduled-backup-cronjob.yaml
  charts/tidb-cluster/templates/tidb-initializer-job.yaml
  charts/tidb-cluster/templates/tikv-importer-statefulset.yaml
  charts/tidb-drainer/templates/drainer-statefulset.yaml
  charts/tidb-drainer/values.yaml
  charts/tidb-lightning/templates/job.yaml
  charts/tidb-lightning/values.yaml
  charts/tidb-operator/templates/scheduler-deployment.yaml
  charts/tidb-operator/values.yaml
Labels: status/LGTM2, status/PTAL

#1127 Support backup to gcs
  images/backup-manager/entrypoint.sh
  manifests/backup/backup-gcs.yaml
  manifests/backup/backup-s3.yaml
  manifests/backup/backup-schedule-gcs.yaml
  manifests/backup/backup-schedule-s3.yaml
  manifests/crd.yaml
  pkg/apis/pingcap/v1alpha1/openapi_generated.go
  pkg/apis/pingcap/v1alpha1/types.go
  pkg/apis/pingcap/v1alpha1/zz_generated.deepcopy.go
  pkg/backup/constants/constants.go
  pkg/backup/util/util.go
Labels: area/backup, cloud/gcp, enhancement, status/PTAL

#1129 upgrade Go to 1.13
  .github/workflows/ci.yaml
  Makefile
  docs/CONTRIBUTING.md
  go.mod
Labels: needs-cherry-pick-1.0, test/ci

#1130 release v1.0.3
  CHANGELOG.md
  charts/tidb-cluster/values.yaml
  charts/tidb-operator/values.yaml
  deploy/aliyun/variables.tf
  deploy/aws/variables.tf
  deploy/gcp/variables.tf
  deploy/modules/aliyun/tidb-cluster/variables.tf
  deploy/modules/aliyun/tidb-operator/variables.tf
  deploy/modules/aws/tidb-cluster/variables.tf
  deploy/modules/aws/tidb-operator/variables.tf
  deploy/modules/gcp/tidb-cluster/variables.tf
  deploy/modules/gcp/tidb-operator/variables.tf
  deploy/modules/share/tidb-cluster-release/variables.tf
  tests/manifests/stability/stability.yaml
Labels: status/PTAL

#782 Auto generate and sign certificates for TLS enabled cluster
  charts/tidb-cluster/templates/_helpers.tpl
  charts/tidb-cluster/templates/config/_drainer-config.tpl
  charts/tidb-cluster/templates/config/_prometheus-config.tpl
  charts/tidb-cluster/templates/config/_pump-config.tpl
  charts/tidb-cluster/templates/discovery-deployment.yaml
  charts/tidb-cluster/templates/discovery-rbac.yaml
  charts/tidb-cluster/templates/monitor-deployment.yaml
  charts/tidb-cluster/templates/scripts/_start_drainer.sh.tpl
  charts/tidb-cluster/templates/scripts/_start_pd.sh.tpl
  charts/tidb-cluster/templates/scripts/_start_pump.sh.tpl
  charts/tidb-cluster/templates/scripts/_start_tikv.sh.tpl
  charts/tidb-cluster/templates/tidb-cluster.yaml
  charts/tidb-operator/templates/controller-manager-rbac.yaml
  cmd/discovery/main.go
  go.mod
  go.sum
  manifests/crd.yaml
  pkg/apis/pingcap/v1alpha1/openapi_generated.go
  pkg/apis/pingcap/v1alpha1/types.go
  pkg/controller/cert_control.go
  pkg/controller/pod_control_test.go
  pkg/controller/secret_control.go
  pkg/controller/tidb_control.go
  pkg/controller/tidbcluster/tidb_cluster_controller.go
  pkg/discovery/discovery.go
  pkg/discovery/discovery_test.go
  pkg/discovery/server/mux.go
  pkg/httputil/httputil.go
  pkg/manager/member/pd_failover_test.go
  pkg/manager/member/pd_member_manager.go
  pkg/manager/member/pd_member_manager_test.go
  pkg/manager/member/pd_scaler_test.go
  pkg/manager/member/pd_upgrader_test.go
  pkg/manager/member/tidb_member_manager.go
  pkg/manager/member/tidb_member_manager_test.go
  pkg/manager/member/tikv_member_manager.go
  pkg/manager/member/tikv_member_manager_test.go
  pkg/manager/member/tikv_scaler_test.go
  pkg/manager/member/tikv_upgrader_test.go
  pkg/pdapi/pdapi.go
  pkg/pdapi/pdapi_test.go
  pkg/util/crypto/certs.go
  pkg/webhook/pod/pd_deleter_test.go
  pkg/webhook/pod/pods_test.go
  pkg/webhook/webhook.go
  tests/actions.go
  tests/cmd/e2e/main.go
  tests/fault.go
  tests/pkg/webhook/pods.go
Labels: enhancement

#1108 add AdvancedStatefulSet feature
  charts/tidb-operator/templates/advanced-statefulset-deployment.yaml
  charts/tidb-operator/templates/advanced-statefulset-rbac.yaml
  charts/tidb-operator/templates/controller-manager-deployment.yaml
  charts/tidb-operator/templates/controller-manager-rbac.yaml
  charts/tidb-operator/templates/scheduler-deployment.yaml
  charts/tidb-operator/values.yaml
  cmd/admission-controller/main.go
  cmd/controller-manager/main.go
  go.mod
  go.sum
  manifests/advanced-statefulset-crd.v1beta1.yaml
  manifests/webhook.yaml
  pkg/features/features.go
  pkg/webhook/statefulset/statefulset.go
  tests/actions.go
  tests/cmd/e2e/main.go
  tests/cmd/stability/main.go
  tests/failover.go
  tests/manifests/e2e/e2e.yaml
  tests/pkg/client/client.go
  tests/pkg/webhook/pods.go
Labels: enhancement, status/LGTM2

#1102 add e2e scripts and simplify e2e jenkins file
  Makefile
  ci/pingcap_tidb_operator_build_kind.groovy
  deploy/modules/gcp/tidb-operator/versions.tf
  docs/CONTRIBUTING.md
  hack/e2e.sh
  hack/lib.sh
  hack/run-e2e.sh
  tests/actions.go
Labels: status/PTAL, test/ci, test/e2e

#1158 auto clean secrets when cluster is deleted
  checkout-pr-branch.sh
  hack/aa-codegen.sh
  hack/codegen.sh
  hack/lib.sh
  hack/pin-deps.sh
  hack/test-codegen.sh
  hack/verify-codegen.sh
  manifests/create-cert.sh
  manifests/patch-ca.sh
  pkg/controller/cert_control.go
  pkg/controller/secret_control.go
  pkg/manager/member/pd_member_manager.go
  pkg/manager/member/tidb_member_manager.go
  pkg/manager/member/tikv_member_manager.go
Labels: area/controller

#1206 Pin Terraform Google provider version to avoid use_ip_aliases error
  deploy/modules/gcp/tidb-operator/versions.tf
Labels: area/terraform, cloud/gcp

#1207 upload unit tests coverage report to codecov
  ci/pingcap_tidb_operator_build_kind.groovy
Labels: test/ci

#1221 fix e2e nil point dereference
  ci/pingcap_tidb_operator_build_kind.groovy
  tests/actions.go
Labels: status/PTAL, test/e2e

#1229 bugfix: get time string from current time instead of pod name
  charts/tidb-cluster/templates/scripts/_start_scheduled_backup.sh.tpl
Labels: area/backup, status/LGTM1

#1193 Extend tidbcluster v1alpha1 to support configuration and pump
  manifests/crd.yaml
  pkg/apis/pingcap/v1alpha1/openapi_generated.go
  pkg/apis/pingcap/v1alpha1/tidbcluster.go
  pkg/apis/pingcap/v1alpha1/tidbcluster_test.go
  pkg/apis/pingcap/v1alpha1/types.go
  pkg/apis/pingcap/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/controller_utils.go
  pkg/controller/controller_utils_test.go
  pkg/controller/tidbcluster/tidb_cluster_controller_test.go
  pkg/manager/member/pd_member_manager.go
  pkg/manager/member/pd_member_manager_test.go
  pkg/manager/member/pd_upgrader_test.go
  pkg/manager/member/tidb_failover_test.go
  pkg/manager/member/tidb_member_manager.go
  pkg/manager/member/tidb_member_manager_test.go
  pkg/manager/member/tidb_upgrader_test.go
  pkg/manager/member/tikv_member_manager.go
  pkg/manager/member/tikv_member_manager_test.go
  pkg/manager/member/tikv_upgrader_test.go
  pkg/tkctl/cmd/info/info.go
  pkg/tkctl/cmd/upinfo/upinfo.go
  pkg/util/json/json.go
  pkg/util/util.go
  pkg/util/utils_test.go
  pkg/webhook/pod/pods_test.go
  tests/actions.go
Labels: area/api

#1218 Tikv Upgrading and Scale-in Controlled by Webhook
  cmd/admission-controller/main.go
  pkg/httputil/httputil.go
  pkg/label/label.go
  pkg/manager/member/tikv_scaler_test.go
  pkg/manager/member/tikv_upgrader.go
  pkg/manager/member/tikv_upgrader_test.go
  pkg/manager/member/utils.go
  pkg/webhook/pod/pd_deleter.go
  pkg/webhook/pod/pd_deleter_test.go
  pkg/webhook/pod/pods.go
  pkg/webhook/pod/pods_test.go
  pkg/webhook/pod/tikv_creater.go
  pkg/webhook/pod/tikv_deleter.go
  pkg/webhook/pod/tikv_deleter_test.go
  pkg/webhook/pod/tikv_util.go
  pkg/webhook/pod/util.go
  pkg/webhook/route.go
  pkg/webhook/statefulset/statefulset.go
  pkg/webhook/util/util.go
  pkg/webhook/webhook.go
Labels: area/webhook, status/LGTM1, status/PTAL
