Repository pingcap/tidb-operator, pull requests merged in 2019-06, with the labels that each got.

#518 Refine backup and restore documentation
  charts/tidb-backup/templates/backup-job.yaml
  charts/tidb-backup/templates/backup-pvc.yaml
  charts/tidb-backup/values.yaml
  charts/tidb-cluster/templates/scheduled-backup-pvc.yaml
  docs/backup-restore.md
  docs/operation-guide.md
  docs/references/tidb-backup-configuration.md
Labels: doc

#530 deploy/aws: split public and private subnets when using existing vpc
  deploy/aws/README.md
  deploy/aws/data.tf
  deploy/aws/main.tf
  deploy/aws/variables.tf
Labels: bug

#556 stability-test: stop kube-proxy case
  tests/actions.go
  tests/cmd/fault-trigger/main.go
  tests/cmd/stability/main.go
  tests/failover.go
  tests/fault.go
  tests/pkg/fault-trigger/api/router.go
  tests/pkg/fault-trigger/api/server.go
  tests/pkg/fault-trigger/client/client.go
  tests/pkg/fault-trigger/manager/kube_proxy.go
  tests/pkg/fault-trigger/manager/manager.go
  tests/pkg/fault-trigger/manager/manifests.go
  tests/pkg/fault-trigger/manager/static_pod_service.go
  tests/pkg/metrics/annotation_util.go
  tests/util.go
Labels: stability-tests
