Repository pingcap/tidb-operator, pull requests merged in 2019-05, with the labels that each got.

#443 fix scheduler ha bug
  pkg/scheduler/predicates/ha.go
  pkg/scheduler/predicates/ha_test.go
Labels: bug, stability-tests

#401 add terraform script to auto deploy TiDB cluster on AWS
  deploy/aws/.gitignore
  deploy/aws/README.md
  deploy/aws/bastion-userdata
  deploy/aws/charts/tidb-cluster
  deploy/aws/charts/tidb-operator
  deploy/aws/data.tf
  deploy/aws/main.tf
  deploy/aws/manifests/crd.yaml
  deploy/aws/manifests/gp2-storageclass.yaml
  deploy/aws/manifests/local-volume-provisioner.yaml
  deploy/aws/manifests/tiller-rbac.yaml
  deploy/aws/outputs.tf
  deploy/aws/pd-userdata.sh
  deploy/aws/templates/tidb-cluster-values.yaml.tpl
  deploy/aws/tikv-userdata.sh
  deploy/aws/variables.tf
Labels: deploy

#437 Docs: fix label selector
  docs/operation-guide.md
Labels: doc

#439 add slack notify
  tests/actions.go
  tests/backup/backupcase.go
  tests/cmd/stability/main.go
  tests/config.go
  tests/failover.go
  tests/fault.go
  tests/manifests/stability/stability.yaml
  tests/pkg/client/client.go
  tests/pkg/metrics/annotation_util.go
  tests/pkg/webhook/pods.go
  tests/slack/slack.go
  tests/util.go
Labels: stability-tests

#436 Add terraform scripts to support alibaba cloud ACK deployment
  README.md
  deploy/alicloud/.gitignore
  deploy/alicloud/README-CN.md
  deploy/alicloud/README.md
  deploy/alicloud/ack/data.tf
  deploy/alicloud/ack/main.tf
  deploy/alicloud/ack/outputs.tf
  deploy/alicloud/ack/templates/user_data.sh.tpl
  deploy/alicloud/ack/variables.tf
  deploy/alicloud/ack/version
  deploy/alicloud/bastion.tf
  deploy/alicloud/charts/tidb-cluster
  deploy/alicloud/charts/tidb-operator
  deploy/alicloud/data.tf
  deploy/alicloud/main.tf
  deploy/alicloud/manifests/crd.yaml
  deploy/alicloud/outputs.tf
  deploy/alicloud/templates/local-volume-provisioner.yaml.tpl
  deploy/alicloud/templates/tidb-cluster-values.yaml.tpl
  deploy/alicloud/userdata/bastion-userdata
  deploy/alicloud/userdata/pd-userdata.sh
  deploy/alicloud/userdata/tikv-userdata.sh
  deploy/alicloud/variables.tf
Labels: deploy

#438 stability test: async emit annotations
  tests/actions.go
  tests/cmd/e2e/main.go
  tests/cmd/stability/main.go
  tests/config.go
  tests/failover.go
  tests/manifests/stability/stability-configmap.yaml
  tests/manifests/stability/stability.yaml
  tests/pkg/metrics/annotation_util.go
  tests/pkg/webhook/pods.go
Labels: stability-tests

#462 Fix bug use shareinformer without copy
  pkg/manager/member/pd_member_manager.go
  pkg/manager/member/tidb_member_manager.go
  pkg/manager/member/tikv_member_manager.go
Labels: bug

#452 Add tkctl user manual
  .gitignore
  docs/cli-manual.md
Labels: doc

#471 docs/minikube: update documentation of minikube installation
  docs/minikube-tutorial.md
Labels: doc

#458 docs/dind: update documentation of DinD installation
  docs/local-dind-tutorial.md
Labels: doc

#474 docs/aliyun: update aliyun deploy docs after testing
  deploy/aliyun/.gitignore
  deploy/aliyun/README-CN.md
  deploy/aliyun/README.md
  deploy/aliyun/ack/data.tf
  deploy/aliyun/ack/main.tf
  deploy/aliyun/ack/outputs.tf
  deploy/aliyun/ack/templates/user_data.sh.tpl
  deploy/aliyun/ack/variables.tf
  deploy/aliyun/ack/version
  deploy/aliyun/bastion.tf
  deploy/aliyun/charts/tidb-cluster
  deploy/aliyun/charts/tidb-operator
  deploy/aliyun/data.tf
  deploy/aliyun/main.tf
  deploy/aliyun/manifests/crd.yaml
  deploy/aliyun/outputs.tf
  deploy/aliyun/templates/local-volume-provisioner.yaml.tpl
  deploy/aliyun/templates/tidb-cluster-values.yaml.tpl
  deploy/aliyun/userdata/bastion-userdata
  deploy/aliyun/userdata/pd-userdata.sh
  deploy/aliyun/userdata/tikv-userdata.sh
  deploy/aliyun/variables.tf
  docs/aliyun-tutorial.md
Labels: doc

#491 docs/aws: update AWS deploy docs after testing
  deploy/aliyun/README.md
  deploy/aws/README.md
  docs/aws-eks-tutorial.md
Labels: doc

#507 docs: Fix issues found in Queeny's test
  deploy/aliyun/README.md
  deploy/aws/README.md
  docs/aws-eks-tutorial.md
  docs/local-dind-tutorial.md
  docs/minikube-tutorial.md
Labels: deploy, doc

#499 New stability test case for ConfigMap rollout
  charts/tidb-cluster/templates/scripts/_start_pd.sh.tpl
  charts/tidb-cluster/templates/scripts/_start_tidb.sh.tpl
  charts/tidb-cluster/templates/scripts/_start_tikv.sh.tpl
  tests/actions.go
  tests/cmd/e2e/main.go
  tests/cmd/stability/main.go
  tests/config.go
  tests/failover.go
Labels: stability-tests

#484 stability: retry truncating sst files upon failure
  tests/failover.go
  tests/pkg/ops/tikv.go
Labels: stability-tests

#510 fix restore script bug
  charts/tidb-backup/templates/scripts/_start_restore.sh.tpl
Labels: bug

#496 stability cases added: pd replicas 1 and stop tidb-operator
  go.mod
  go.sum
  tests/actions.go
  tests/backup.go
  tests/cmd/e2e/main.go
  tests/cmd/stability/main.go
  tests/failover.go
  tests/manifests/stability/stability.yaml
  tests/pkg/blockwriter/blockwriter.go
  tests/pkg/webhook/pods.go
  tests/slack/slack.go
Labels: stability-tests

#497 Add pods disaster tolerance and data regions disaster tolerance test cases
  go.mod
  go.sum
  tests/actions.go
  tests/cmd/e2e/main.go
  tests/cmd/stability/main.go
  tests/config.go
  tests/dt.go
  tests/manifests/e2e/e2e.yaml
  tests/util.go
Labels: stability-tests

#511 Fix aliyun tf output rendering and refine documents
  deploy/aliyun/README-CN.md
  deploy/aliyun/README.md
  deploy/aliyun/ack/main.tf
  deploy/aliyun/ack/outputs.tf
  deploy/aliyun/ack/variables.tf
  deploy/aliyun/bastion.tf
  deploy/aliyun/main.tf
  deploy/aliyun/outputs.tf
  deploy/aliyun/variables.tf
Labels: deploy, doc

#536 Fix tkctl get cpu info rendering
  .gitignore
  docs/cli-manual.md
  pkg/tkctl/readable/printers.go
Labels: bug
